@charset "utf-8";
/* CSS Document */
body,form,ul,ol,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,table,fieldset{margin:0; padding:0;font-size: 12px;}
input,select,textarea{color:#888; font-size:12px;line-height:140%; font-family:'宋体';vertical-align: middle;resize:none;}
img{border:0; vertical-align:middle;}
em,i{font-style:normal;}
ol,ul,li{ list-style:none;}
h1,h2,h3,h4,h5{color:#333;}
textarea{resize:none;}
label{vertical-align:middle}
a{ text-decoration:none;}
.clear{ padding:0; margin:0; clear:both;}

body{ background:url(../img/bg.jpg) top center #fdfbd9 no-repeat; position:relative;}
.foot-bg{ background:url(../img/foot-bg.jpg) center no-repeat; display:block; width:100%; position:absolute; left:0; bottom:0; height:350px; z-index:-1;}
.all{ width:1002px; margin:auto; position:static; z-index:99;}
.top{ height:132px; position:relative;}
.logo{ height:70px; padding:13px 0 12px;}
.logo ul li{ float:left;}
.logo .des{float:left;margin:15px;color:#007a37;border-left:2px solid #007a37;}
.logo .des ul{padding-left: 10px;}
.logo .des ul li{padding-top: 5px;}
.search{ background:url(../img/search-bg.png) no-repeat; width:266px; height:34px; position:absolute; left:570px; top:30px;}
.j-input{ height:34px; line-height:34px; width:200px; border:none; background:none; margin-left:20px; margin-bottom:10px;}
.j-label{ background:url(../img/search-btn.png) no-repeat; width:15px; height:15px; display:inline-block; margin-left:10px; margin-top:10px;}
.login{ position:absolute; right:0; top:30px; height:36px; line-height:36px;}
.login ul li{ display:inline-block; color:#515151; font-size:12px; padding:0 3px;}
.login ul li a{ color:#515151; font-size:12px;}
.nav{ height:36px; line-height:36px;}
.nav ul li{ float:left; position:relative;z-index:999;}
.nav ul li ul{display:none;}
.nav ul li ul:hover{display: block;}
.nav ul li a{ font-size:14px; color:#007a37; padding:0 20px; display:inline-block; height:36px; line-height:36px; border-left:1px solid #e5ddcc;}
.nav ul li a:hover,.nav ul li a.hover{ background:#007a37; color:#fff; }
.nav-ul{ background:#fff; position:absolute; left:1px; top:36px;}
.nav ul li ul.nav-ul li a{ border:none;}

.center{ padding:15px 0 40px; min-height:750px;}
.fl_1{ float:left;height: 288px;}
.overview{ border:7px solid #fcf1b3; background:url(../img/flower.jpg) right bottom no-repeat #fff; width:537px; height:245px; margin-left:15px; padding:15px;}
.overview h2{ font-size:14px; font-weight:500; color:#007a37; height:25px; line-height:25px; padding-bottom:5px;}
.overview p{ line-height:24px; color:#515151; font-size:12px; text-indent: 2em;}
.fl_2{ margin-top:15px;}
.tittle_1{ width:230px; height:72px; margin:auto; margin:15px auto;}
.fl_ul li{ height:137px; width:493px; float:left; background:#fff; margin-bottom:15px;}
.fl_ul li.li_1{ margin-left:15px;}
.ul-l{ float:left;}
.ul-l h2{ color:#996901; font-size:14px; font-weight:bold;}
.ul-l p{ color:#515151; font-size:12px;}
.notice{ width:316px; padding:10px 20px;}
.notice h2{ height:30px; line-height:30px;}
.notice p{ line-height:25px;}
.fl_3{ float:left;}
.Style{ width:426px;}
.Style ul li{ float:left; padding-right:15px; padding-bottom:15px; position:relative;}
.Style ul li a{ height:30px; line-height:30px; width:90%; background:url(../img/img-m.png) repeat; color:#fff; position:absolute; bottom:15px; left:0; display:inline-block; text-align:center; font-size:12px;}
.Teach{ width:575px;}
.bannar-2{ height:93px; width:100%;}
.Teach .fl_ul li{ border:1px solid #007a37; border-radius:50px; width:100%; height:69px; margin-top:9px; margin-bottom:0;}
.ul-l-1{ width:107px; height:70px; background:url(../img/num.png) 0 -1px no-repeat;}
.ul-l-2{ width:107px; height:70px; background:url(../img/num.png) 0 -79px no-repeat;}
.ul-l-3{ width:107px; height:70px; background:url(../img/num.png) 0 -158px no-repeat;}
.Teach .notice{ width:420px; padding:5px 20px;}
.Teach .notice h2{ height:20px; line-height:20px;}
.Teach .notice h2 span{ float:right; color:#515151; font-weight:100; font-size:12px;}
.Teach .notice p{ line-height:20px;}
.fl_4 ul li{float:left; padding-right:7px; padding-bottom:10px; position:relative;}
.fl_4 ul li a img{width:327px; height:327px;}
.fl_4 ul li:hover .z-1{display:block;}
.fl_4 ul li .z-1{display:none;position:absolute; background:url(../img/img-m.png) repeat; height:247px; width:247px; left:0; top:0; padding:40px;}
.fl_4 ul li .z-1 h2{ color:#fff; padding-bottom:20px; padding-top:30px;}
.fl_4 ul li .z-1 p a{ color:#fff; font-size:24px; line-height:45px;}
.fl_4 ul li.li-2{ padding-right:0;}

.fl_5 .space{ background:url(../img/free-bg.png) repeat; width:96%; padding:10px 20px;}
.fl_5 .space h2{ font-size:14px; font-weight:bold; height:30px; line-height:30px; color:#007a37;}
.fl_5 .space ul li{ float:left; width:25%; line-height:30px;}
.fl_5 .space ul li a{ color:#515151; font-size:12px;}
.fl_5 .space ul{ border-bottom:2px dashed #dcdcdc; padding-bottom:20px;}
.space-ul{ float:left; width:33%; margin:20px 0;}
.space-ul img{ margin:10px 0;}
.space-ul p{ text-align:center; line-height:25px;color:#515151; font-size:12px;}
.fl_5 .space .space-ul ul{ border:none; padding:0; margin-left:70px;}
.fl_5 .space .space-ul ul li{ text-align:left; line-height:25px; width:100%;color:#515151; font-size:12px;}

.crumbs{ height:40px; line-height:20px;}
.crumbs ul li{ float:left;}
.crumbs ul li a{ padding-left:20px; font-size:14px; background:url(../img/crumbs.png) no-repeat 4px 5px;}
.crumbs ul li a:hover,.crumbs ul li a.hover{ color:#007a37;}
.crumbs ul li a.no{ background:none; padding:0; color:#515151;}

span.title-text{float: left;    padding-left: 20px; font-size:35px; font-weight:bold; color:#333; line-height:50px;}
.pf_head {left:0px; top:30px;padding-bottom:20px;height: 123px;}
.pf_head_pic {float: left; height: 120px;  border:1px solid #ddd;background:#fff;padding: 2px; position: relative; width: 120px;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);}
.pf_head_pic img{ width:120px; height:120px;}

.three_2{ float:left;background:#fffbf7; margin-right:15px;}
.three_2 h2{ background:#007a37; color:#fff; font-size:20px; font-weight:100; text-align:center; height:40px; line-height:40px;}
.three_2 ul{ margin:5px 20px;  width:115px;}
.three_2 ul li a{ font-size:16px; color:#666666; height:50px; line-height:50px;}
.three_2 ul li a.hover{ color:#007a37;font-size: 19px;font-weight:bold;}
.three_2 ul li{ border-bottom:1px solid #f6ece2; text-align:center;}
.three_2 ul li.no{ border-bottom:none;}
.three_l {width:832px;float: left;min-height:500px;}
.three_l .three_tit {border-bottom: 1px solid #d9d9d9; height:40px;/*width:577px;*/}/*2016-8-25*/
.three_l .title_name {background: url(../img/btn-1.png) no-repeat; width: 138px;height: 40px;font-size: 20px;line-height: 40px;color: #fff;padding-left: 18px;float: left; margin:0; font-weight:100;}
.three_l .title_span {float: left;font-size: 12px;color: #979fa6;background-color: #545f69;height: 30px;margin-top: 10px;line-height: 30px;padding: 0 15px;font-family: "lit";letter-spacing: 1px;}
.three_con{ background:#fff; padding:15px; margin-bottom:15px; min-height:650px;}
.three_con .profile p{ color:#515151; padding:0 20px; text-indent: 2em;}
.three_con .profile p span{ font-weight:bold;}
.profile{ padding:15px 0;}
.profile .title{text-align: center;padding: 15px 0 10px;}
.profile p.info{ line-height:30px; font-size:12px;}
.profile ul li{ width:248px; float:left; margin:9px;height: 150px;padding-bottom: 40px;}
.photo ul li a{height: 30px; line-height: 30px; width: 100%; background: url(../img/img-m.png) repeat; color: #fff; display: inline-block; text-align: center; font-size: 12px;}
.photo ul li img{width:248px; height:160px;}
.li-a-div .left{ background:#169842; width:25%; float:left; height:35px; line-height:35px; text-align:center; font-size:12px; color:#fff;}
.li-a-div .right{ background:#e9e9e9; width:62.6%; float:right; height:35px; line-height:35px; font-size:12px; color:#515151; padding:0 15px;}
.li-a-div .right i{ float:right; display:block;}
.li-a-div .right span{ float:left; display:block;}

.profile-1{ padding:15px 0;}
.profile-1 ul li{ width:95%; line-height:32px; display: inline-block; font-size:12px; border-bottom:1px solid #ddd; margin:9px; padding:0 10px;}
.profile-1 ul li a{ display:inline-block; width:80%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font: 600 16px "microsoft yahei",arial;color: #333;padding-bottom:10px;}
.profile-1 ul li span{ float:right;}
.profile-1 ul li span.mailbox-content{ float:left;}

/*****分页turnPage*****/
.turnPage{ padding:10px; text-align:right;height: 20px;}
.turnPage .pagination{float:right;}
.pagination a{padding: 0px 7px;border: 1px solid #cecece;margin: 0 2px 0px 3px;color: #3d3d3d;font-size: 12px;display:inline-block;height: 21px;line-height: 21px;vertical-align: middle}
.pagination a:hover,.pagination a.hover{background:#007a37;color: #fff;text-decoration:none;border:#007a37 solid 1px;}
.turnPage span.txt{line-height:24px; background:none; padding:0; vertical-align: middle; font-size:12px;float: left;}
.turnPage a.page{/* border-radius:3px*/}
.turnPage a.page:hover{color:#fff; background:#3d95d5;text-decoration:none}

.profile-1 table{width:800px;border:0;text-align:center;border-collapse:collapse;border-spacing:0;}
.profile-1 table th{background:#0090D7;font-weight:normal;line-height:50px;font-size:14px;color:#FFF;}
.profile-1 table tr:nth-child(odd){background:#F4F4F4;height:50px;}
.profile-1 table td:nth-child(even){color:#C00;height:50px;}
.profile-1 table tbody tr td a{color: #47A4B3;}
.profile-1 table tbody tr td a:hover{color: #5CD3E6;}

.nav ul li ul{display: none}
.nav ul li:hover ul{display: block;position: absolute;}
.nav ul li:hover ul li a{width:60px;display:block;background:#fff;color:#007a37;text-align: center;border: 1px solid #f2f2f2;}
.nav ul li:hover ul li a:hover,.nav ul li:hover ul li a.hover{background:#007a37;color:#fff;}

.callbacks_container{margin-bottom: 50px;position: relative;float: left;width: 100%;z-index:-1;}
.callbacks{position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;}
.callbacks li{position: absolute;width: 100%;left: 0;top: 0;}
.callbacks img{display: block;position: relative;z-index: 1;height: auto;width: 100%;border: 0;}
.callbacks .caption{display: block;position: absolute;z-index: 2;font-size: 20px;text-shadow: none;color: #fff;background: #000;background: rgba(0, 0, 0, .8);left: 0;right: 0;bottom: 0;padding: 10px 20px;margin: 0;max-width: none;}
.callbacks_nav{position: absolute;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);top: 52%;left: 0;opacity: 0.7;z-index: 3;text-indent: -9999px;overflow: hidden;text-decoration: none;height: 61px;width: 38px;background: transparent url("../img/themes.gif") no-repeat left top;margin-top: -45px;}
.callbacks_nav:active{opacity: 1.0;}
.callbacks_nav.next{left: auto;background-position: right top;right: 0;}
.rslides{position: relative;list-style: none;overflow: hidden;width: 100%;padding: 0;margin: 0;}
.rslides li{-webkit-backface-visibility: hidden;position: absolute;display: none;width: 100%;left: 0;top: 0;}
.rslides li:first-child{position: relative;display: block;float: left;}
.rslides img{display: block;height: auto;float: left;width: 406px;height:288px;border: 0;}


.download{padding-button:20px;background: #f8fcfe;margin: 10px 0;border-radius: 3px;border: 1px solid #f2f2f2;height:auto;line-height:25px;width: 95%;}
.download span{line-height: 30px;font-size: 14px;color: #226C42;}
.download span a{margin-left: 5px;color: #56b463;}


/*图标样式 开始*/
.icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top:-1px;
    line-height: 18px;
    vertical-align: text-top;
    background-image:url(../img/all.png);
    background-repeat: no-repeat;
	padding:0 2px 0 2px; line-height:40px;vertical-align: middle;
}
.icon-home{ background-position:-5px -5px;}
.icon-comment{ background-position:-35px -4px;}
.icon-th-large{ background-position:-64px -6px;}
.icon-down{ background-position:-91px -6px;}
.icon-cog{ background-position:-120px -6px;}

.icon-glyphs ul li{ float:left; width:20%; padding:10px 0;}

.icon-home-1{ background-position:-5px -35px;}
.icon-comment-1{ background-position:-35px -34px;}
.icon-th-large-1{ background-position:-62px -34px;}/*2014-12-24*/
.icon-down-1{ background-position:-88px -34px;}
.icon-cog-1{ background-position:-117px -35px;}
.icon-remove{ background-position:-233px -5px;}
.icon-chevron-up{ background-position:-262px -6px;}
.icon-chevron-left{ background-position:-289px -6px;}
.icon-heart{ background-position:-318px -6px;}
.icon-thumbs-up{ background-position:-346px -6px;}
.icon-remove-1{ background-position:-233px -35px;}
.icon-chevron-down{ background-position:-262px -35px;}
.icon-chevron-right{ background-position:-289px -35px;}
.icon-heart-1{ background-position:-318px -35px;}
.icon-thumbs-up-1{ background-position:-346px -36px;}
.icon-repeat{ background-position:-375px -5px;}
.icon-share{ background-position:-403px -5px;}
.icon-Comment{ background-position:-432px -5px;}
.icon-group{ background-position:-460px -5px;}
.icon-user{ background-position:-457px -63px;}/*2014-12-24*/
.icon-repeat-1{ background-position:-375px -34px;}
.icon-share-1{ background-position:-403px -34px;}
.icon-Comment-1{ background-position:-432px -34px;}
.icon-group-1{ background-position:-460px -34px;}
.icon-user-1{ background-position:-459px -91px;}
.icon-globe{ background-position:-319px -63px;}
.icon-camera{ background-position:-347px -63px;}
.icon-film{ background-position:-376px -63px;}
.icon-at{ background-position:-403px -63px;}
.icon-pic{ background-position:-432px -63px;}
.icon-globe-1{ background-position:-319px -91px;}
.icon-camera-1{ background-position:-347px -91px;}
.icon-film-1{ background-position:-376px -91px;}
.icon-at-1{ background-position:-403px -91px;}
.icon-pic-1{ background-position:-431px -91px;}
.icon-User{ background-position:-5px -63px;}
.icon-Group{ background-position:-35px -63px;}
.icon-envelope{ background-position:-63px -63px;}
.icon-search{ background-position:-91px -63px;}
.icon-align-bottom{ background-position:-119px -63px;}
.icon-question-sign{ background-position:-5px -91px;}
.icon-star{ background-position:-35px -91px;}
.icon-comment-2{ background-position:-63px -91px;}
.icon-Expression{ background-position:-91px -91px;}
.icon-align-bottom-1{ background-position:-147px -63px;}
.icon-Telephone{ background-position:-35px -120px;}
.icon-Mobile-phone{ background-position:-63px -120px;}
.icon-Expression-1{ background-position:-91px -120px;}
.icon-facetime-video{ background-position:-120px -120px;}
.icon-music{ background-position:-149px -120px;}
.icon-attachment{ background-position:-174px -120px;}
.icon-Memorial-Day{ background-position:-206px -120px;}
.icon-trash{ background-position:-232px -120px;}
.icon-editor { background-position:-261px -120px;}
.icon-info-sign{ background-position:-290px -120px;}
.icon-curriculum{ background-position:-4px -119px;}
.icon-homework{ background-position:-5px -148px;}
.icon-report{ background-position:-34px -148px;}
.icon-Repeat{ background-position:-63px -148px;}
.icon-Add{ background-position:-91px -148px;}
.icon-Password{ background-position:-119px -148px;}
.icon-Delete{ background-position:-149px -148px;}
.icon-Modify{ background-position:-174px -148px;}
.icon-Envelope{ background-position:-120px -91px;}
.icon-Import-information{ background-position:-204px -148px;}
.icon-Upload{ background-position:-176px -62px;}
.icon-Put-away{ background-position:-204px -63px;}
.icon-Amplification{ background-position:-233px -63px;}
.icon-Towards-left{ background-position:-261px -63px;}
.icon-Towards-right{ background-position:-290px -63px;}
.icon-Preview{ background-position:-147px -91px;}
.icon-File{ background-position:-175px -92px;}
.icon-PPT{ background-position:-202px -91px;}
.icon-Shop{ background-position:-233px -91px;}
.icon-time{ background-position:-233px -148px;}
.icon-Preservation{ background-position:-261px -91px;}
.icon-add{ background-position:-261px -148px;}
.icon-Have{ background-position:-289px -147px;}
.icon-Change-password{ background-position:-290px -92px;}
.icon-Close{ background-position:-317px -120px;}
.icon-homework-1{ background-position:-317px -148px;}
.icon-Space{ background-position:-347px -120px;}
.icon-School{ background-position:-376px -120px;}
.icon-Healthy{ background-position:-347px -148px;}
.icon-Kindergarten{ background-position:-403px -120px;}
.icon-Policy-document{ background-position:-376px -148px;}
.icon-School-1{ background-position:-459px -148px;}
.icon-Teaching-activity{ background-position:-403px -148px;}
.icon-Yearly-inspection{ background-position:-431px -148px;}
.icon-Activity-dynamics{ background-position:-432px -120px;}
.icon-Institute-Information{ background-position:-459px -120px;}
/*图标样式 结束*/

/*登陆开始*/
.cue-hd,.cue-mid,.cue-ft,.cue-arrow,.cue-tt p{background-image:url(../img/error_bg.png); _background-image:url(../img/error_bg_ie6.png);}
#errorAlert{position: absolute; width: 347px; top: 0; margin-left:204px; text-align: left; z-index: 1000;}
#errorAlert.cue_Alert-show{display: block; -webkit-animation: shake 0.6s ease-in-out 0.3s; -moz-animation: shake 0.6s ease-in-out 0.3s; -o-animation: shake 0.6s ease-in-out 0.3s; animation: shake 0.6s ease-in-out 0.3s;}
#errorAlert .cue-hd,
#errorAlert .cue-ft{overflow: hidden; font-size: 0; line-height: 0;}
#errorAlert .cue-hd{height: 8px; background-position: -10px 0; background-repeat: no-repeat;}
#errorAlert .cue-ft{height: 10px; background-position: -10px -8px; background-repeat: no-repeat;}
#errorAlert .cue-mid{padding: 5px 20px 7px; background-position: -357px 0; background-repeat: repeat-y;}
#errorAlert .cue-arrow{position: absolute; top: 35px; right: -6px; width: 10px; height: 19px; background-position: 0 0; background-repeat: no-repeat;}
#errorAlert .cue-tt p{padding: 10px 20px 8px 60px; color: #434343; line-height: 22px; font-weight: bold; font-size: 14px; background-position: -704px center; background-repeat: no-repeat;}
#errorAlert .cue-detail{font-size:12px;margin-top:2px; padding: 8px 18px 5px 18px; color: #7d7d7d; line-height: 18px; border-top: 1px solid #e1e1e1;}
#errorAlert .cue-detail a{color: #4e90e2; text-decoration: underline;}
#errorMask{position:absolute; top:0; left: 0;width: 100%; height: 600px; background: #000; opacity: 0.2; filter:alpha(opacity=20); z-index: 1;}

.login1{ background:#fff; box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); border-radius:5px;  left:50%; margin-left:141px; padding:14px 16px 15px; float: right;text-align:left; top:235px; width:300px; z-index:2;margin: 80px;}
.tab-2{ background:url(../img/login-bg.png) no-repeat -323px 0; height:320px; left:50%; margin-left:141px; padding:14px 16px 15px; position:absolute; text-align:left; top:135px; width:295px; z-index:2;}
.loginFunc{ clear:both; height:37px; line-height:37px; overflow:hidden; margin:0 18px; border-bottom:1px dotted #e4e4e4;}
.loginFunc span{color:#2e2e2e; font-weight:bold; display:block;height:35px; line-height:35px; font-size:20px;}
.loginFuncNormal, .loginFuncMobile{ color:#333; font-weight:bold; cursor:pointer; float:left; font-size:14px; height:100%; line-height:46px; overflow:hidden; position:relative; text-align:center; width:148px;}
.loginFuncMobile{ border-right:medium none; width:147px;}
.loginForm{ padding-top:20px; position:relative;}
.loginFormIpt{ background:url(../img/bg_v2.png) 0 -142px; border-radius:4px; clear:both; height:42px; line-height:42px; margin:0 0 18px 18px; padding-right:5px; position:relative; width:262px; z-index:2; }
.verification-code{ background:url(../img/bg_v2.png) 0 -248px; border-radius:4px; clear:both; height:42px; line-height:42px; margin:0 0 10px 25px; padding-right:5px; position:relative; width:240px; z-index:2; }
.verification-code .loginFormTdIpt{ width:77px; margin-top:2px; height:28px; border:none;}
.verification-code .ico{ left:9px; position:absolute; top:11px; z-index:1;}
.loginFormIpt .ico{ left:9px; position:absolute; top:10px; z-index:1;}
.ico-uid{ background:url(../img/bg_v2.png) -151px -63px; height:22px; width:22px;}
.loginFormTdIpt{ background:none; border:medium none; color:#92a4bf; font-size:14px; font-weight:700; height:21px; line-height:21px; padding:9px 0 10px; left:28px; top:1px; width:205px; ime-mode:disabled; position:absolute;}
.placeholder{ background:none; color:#b9b8b6; font-size:14px; left:40px; line-height:24px; position:absolute; top:9px;cursor: text; visibility: visible;}
.ico-pwd{background:url(../img/bg_v2.png) -175px -63px; height:22px; width:22px;}
.ico-phone{background:url(../img/bg_v2.png) -200px -64px; height:18px; width:14px;}
.loginFormCheck{ clear:both; color:#555; height:13px; line-height:30px; height:30px; margin-left:25px; position:relative; width:245px; z-index:1;}
.loginFormCheckInner{ float:left; height:14px; position:relative; width:150px;}
.forgetPwdLine{ float:right;}
.forgetPwdLine a{text-decoration: none;color: #47A4B3;font-size: 12px;}
.loginFormBtn{ margin:10px 0 0 20px; position:relative; width:300px;}
.btn{border-radius:3px; cursor:pointer; display:inline-block; outline:0 none; text-align:center; vertical-align:baseline;}
.btn-login{  color:#fff;background:url(../img/bg_v2.png) 0 -96px; margin-bottom:30px;}
.btn-reg{ color:#fff;background:url(../img/bg_v2.png) 0 -300px; float:right; border:none;}
.loginFormIpt input{ border:none; margin-top:2px;box-shadow:none; width:200px; height:28px; background:none; color:#b9b8b6; font-size:14px; padding-left:40px; padding-top:5px;}
.pic-QR{ position:absolute; left:127px; top:0; width:120px; height:43px;}
.pic-QR a{ padding-left:7px;}
.pic-QR img{ width:80px; height:32px;}
.manual{ border-top:1px solid #dbdbdb; margin:15px 0; height:77px;}
.manual a{ background:url(../img/bg_v2.png) no-repeat 0 -300px; display:block; width:270px; height:38px; margin:20px auto;}
.manual a:hover{ text-decoration:none;}
.btn1{border-radius:3px; cursor:pointer; display:block; height:38px; outline:0 none; padding:0; text-align:center; vertical-align:baseline; width:258px;}
/*登陆结束*/

#waitbox,#get_more{font-size: 14px;text-align:center;cursor:pointer;color:#56b463;padding-top: 5px;}

/*论坛 开始*/
.profile-1 .forum table thead{border: 1px solid #888;}
.profile-1 .forum table th {background:#F2F2F2;color:#333333;}
.profile-1 .forum table th select{left: 0px;top: 0px;width: 84px;height: 22px;font-family: 'Arial Normal', 'Arial';font-weight: 400;font-style: normal;font-size: 13px;text-decoration: none;color: #000000;}
.profile-1 .forum table tbody tr{border-bottom: 1px solid #F4F4F4;}
.profile-1 .forum table tbody tr td{background:#FFF;color: #666;}
.profile-1 .forum table tbody tr td a{color: #333333;}
/*论坛 结束*/


/*院长信箱 开始*/
.mailbox{width：100%;height: 216px;border: 1px solid #888;margin: 10px;}
.mailbox .mailbox-from{margin:20px;color: #000000;}
.mailbox .mailbox-from .item{padding-bottom:6px;}
.mailbox textarea {width: 98%; height: 100px;line-height: 20px;padding: 3px 8px 5px;}
.mailbox .mailbox-from .tel{/*padding-left: 200px;*/padding-top: 5px;height:35px;line-height: 25px;}
.mailbox .mailbox-from .Btn{float: right;background: #56b463;color: #fff;font-size: 12px;height: 25px;line-height: 25px;padding: 0 8px;border: none;cursor: pointer;display: inline-block;vertical-align: middle;}
.mailbox-from .title input{width: 200px;height: 24px;}
.profile-1 ul li .mailbox-title{width: 200px;height: 100px;border-bottom: 1px dashed #ddd;}
.profile-1 ul li .mailbox-reply{margin: 0 0 15px 50px;max-height: 800px;min-height: 90px;background-color: #f2f2f2;float: left;}
.profile-1 ul li span.mailbox-content-left{display: block;width: 110px;float: left;padding-top: 16px;text-align: center;margin-bottom: 10px;font-size: 14px;}
.profile-1 ul li span.mailbox-content-left img{width: 70px;height: 70px;}
.profile-1 ul li span.mailbox-content-right{overflow: auto;min-height: 66px;max-height: 700px;display: block;margin: 10px;float: left;width: 577px;text-align: left;padding-top: 5px;color: #394953;}
.profile-1 ul li span.li-content-time{width: 115px;display: block;}
/*院长信箱 结束*/

/*输入框 开始*/
.qz-poster textarea{overflow: visible;height: 55px;width:87%;float:left;background: #fff;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04) inset;border: 1px solid #d9d9d9;font-size: 14px;border-radius: 2px 0 0 2px;height: 60px;line-height: 20px;padding: 3px 8px 5px;}
.qz-poster input.Btn{background: #56b463;color: #fff;font-size: 12px;height: 70px;width: 86px;line-height: 25px;padding: 0 8px;border: none;cursor: pointer;display: inline-block;vertical-align: middle;border-radius: 2px;}
.qz-poster { margin-bottom: 12px; padding-top:35px; background:url(../img/news.png) no-repeat;}
.qz-poster-inner { position: relative;}
.qz-poster-bd { display:block; z-index:3; position:relative; zoom:1;}
.qz-poster .qz-inputer { background-color: #fff; border-color: #d9d9d9;}
.qz-poster-bd textarea { background:#fff; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04) inset; border:1px solid #d9d9d9; font-size: 14px; border-radius:2px 0 0 2px; height: 60px; line-height: 20px; padding: 3px 8px 5px;}
.qz-poster .pop-drop li { height: 68px;}
.qz-poster .cell-8 { width: 197px;}
.qz-poster-ft{ height:35px; line-height:35px;}
.qz-poster-ft a{ padding-right:5px; color:#333;}
.qz-poster-ft a i{ display:inline-block; padding-right:2px;}
.post-img{ margin:10px 0;}
.post-img img{ max-height:80px; width:100%;}

.control-inner{ height:40px; line-height:40px; border-bottom:1px solid #ddd;}
.left-form{ position:relative;}
.photo-input{ position:absolute; left:50px; top:0; height:35px; width:50px; cursor:pointer; opacity:0;filter: alpha(opacity=0);}
.seleJs-1 input.update-input{filter: alpha(opacity=0); position:absolute; left:0; top:0;}
.File-input{ position:absolute; left:0px; top:0; height:35px; width:50px; cursor:pointer; opacity:0;filter: alpha(opacity=0);}/*2015-7-31*/
/*输入框 结束*/


.red{ color:#C00;}
.Red{ color:#C00; font-size:20px; padding:0 5px; font-weight:bold;}
.left{ float:left;}
.right{ float:right;}
#weibo_div_uploadResult {border: 1px dashed rgb(221, 221, 221);margin: 10px 0px;padding: 5px;width: 97.7%;}

/*动态图片开始*/
.msgBox textarea {border: 1px solid #ddd;height: 20px;resize: none;width: 97%;padding: 10px;}
.subMessage-img{text-align:center; padding:10px 0; width:99.5%;}
.subMessage-img img{ max-width:99.5%;}
.subMessage-img-min{padding:10px 0; width:50%; }
.subMessage-img-min img{ /*max-width:50%;*/cursor: pointer; width:80px; height:80px; padding:0 4px 2px 0;}/*2015-1-5*/
.messageCon { clear: both; color: #666; display: block; /*padding-bottom: 5px; padding-top: 5px;*/}
.media .subMessage {background: #f3f3f3; margin-top: 0; padding:7px 10px 4px; position: relative; /*width:96.5%;*/ }
.media .subMessage-1{border-bottom:1px dashed #ccc; padding:7px 0; width:100%;}
.media-review{background: #f3f3f3; padding:0 10px 10px;}
.media-review .subMessage{ border-bottom:1px dotted #ccc; padding:4px 0 7px; width:auto;}
.imgXsmall { max-width: 35px;}
.imgSmall{ height: auto; max-width: 50px; opacity: 1; transition: opacity 0.25s ease 0s; border-radius:4px;}
.media-object { display: block;}
/*动态图片结束*/

/*空间动态 开始*/
.dynamic_notice{background-color: #fff;padding:5px;margin-bottom: 15px;}
.dynamic_notice .profile-1{padding: 10px;}
.dynamic_notice .profile-1 .notice_title{padding:10px 19px 30px;border: 1px solid #ddd;background-color: #f2f2f2;}
.dynamic_notice .profile-1 h2{font-size: 15px;float: left;}
.dynamic_notice .profile-1 span{font-size: 12px;float: right;padding-top:5px;}
.dynamic_notice .profile-1 ul{border: 1px solid #ddd;}
.dynamic_notice .profile-1 ul li a{display: inline-block;font-size:13px;width: 80%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #333;}
.spaceCate{font-size: 10px;height:40px;margin-top: 10px;line-height:38px;border: 1px solid #ddd;background-color: #f2f2f2;}
.spaceCate h3{float:left;padding-left: 20px;font-size: 15px;}
.spaceCate ul{padding-left: 120px;}
.spaceCate ul li{float:left;padding-right: 20px;color: #fff;}
.spaceCate ul li a{color: #333;}
.spaceCate ul li a:hover,.spaceCate ul li a.hover{color: #56b463;}
p.more{ height:30px; line-height:30px;}
.control-inner{height: 40px;line-height: 40px;border-bottom: 1px solid #ddd;}
.newMessage{margin: 20px;}
.messageCon{clear: both;color: #666;display: block;line-height: 25px;font-size: 14px;}
.pull-right{float: right;}
.list-inline{list-style: none outside none;margin-left: -5px;padding-left: 0;margin-top: 5px;z-index: 99;}
.list-inline > li{display: inline-block;padding-left: 3px;padding-right: 3px;padding-top: 5px;float: left;}
.feedbacks > li{color: #999;font-size: 12px;font-weight: normal;}
a{text-decoration: none;color: #56b463;}
.media-heading{padding-bottom: 35px;}
.media .subMessage{background: #f3f3f3;padding: 7px;overflow: auto;}
.subMessage{line-height: 22px;font-size: 14px;}
.subMessage .media-body p{float:left;width:10%;}
.subMessage .media-body .col-sm-12 p{float:left;width:80%;font-size: 12.5px;color: #666;}
.msgBox textarea{border: 1px solid #ddd;height: 40px;resize: none;width: 97%;}
.media-review{background: #f3f3f3;padding:0 10px 10px;}
.media-review .subMessage{border-bottom:1px dotted #ccc;padding:10px 0 7px;width:auto;}
.imgXsmall{max-width: 35px;}
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.form-inline:hover .row .action{display:block;}
.action{margin: 5px;}
.action .right{float: right;}
.action .right .Btn{background: #56b463;color: #fff;font-size: 12px;height: 25px;line-height: 25px;padding: 0 8px;border: none;cursor: pointer;display: inline-block;vertical-align: middle;border-radius: 2px;}
.pagination {text-align: right;}
.radioTb {line-height: 30px;}
.radioTb input {margin-top: -2px;}
/*空间动态 结束*/

/*个人名片 开始*/
.pf_head_pic {height: 120px;padding: 2px;position: relative;width: 120px;}
.pf_head_pic img{ width:120px; height:120px;}
.change_btn_div{ background:url(../img/user-name-bg.png) repeat-x; padding:0 4px; position:absolute; right:5px; top:100px; height:20px; line-height:20px;}
.change_btn_div a{ color:#fff;}
.preview_fake img{ width:108px; height:108px;}
.preview_fake_1 img{ width:180px; height:180px;}
/*个人名片 结束*/

/*弹出框 开始*/
.item{ line-height:24px; padding-bottom:5px;}
.Btn-1{ background:#ccc; color:#666; font-size:12px; height:25px; line-height:25px; padding:0 8px; border:none;cursor: pointer; display:inline-block; vertical-align:middle; border-radius: 2px;}
.Btn{ background:#56b463; color:#fff; font-size:12px; height:25px; line-height:25px; padding:0 8px; border:none;cursor: pointer; display:inline-block; vertical-align:middle; border-radius: 2px;}
a.Btn:hover{ color:#fff;}
.btn_blue{background:url(../img/upload.png) no-repeat 10px 7px #3799d6;padding:0 10px 0 30px;}
.btn_blue:hover{background:url(../img/upload.png) no-repeat 10px 7px #72beed;}
.control-inner{ height:40px; line-height:40px; border-bottom:1px solid #ddd;}
.left-form{ position:relative;}
.photo-input{ position:absolute; left:50px; top:0; height:35px; width:50px; cursor:pointer; opacity:0;filter: alpha(opacity=0);}
.seleJs-1 input.update-input{filter: alpha(opacity=0); position:absolute; left:0; top:0;}
.File-input{ position:absolute; left:0px; top:0; height:35px; width:50px; cursor:pointer; opacity:0;filter: alpha(opacity=0);}
.popup .content{background:#ffffff; border: 1px solid #888; border-radius: 2px; position: relative;box-shadow: 0 0 5px #535658; z-index:999;}
.popup .title { background:#f3f3f3; color: #595959; height: 30px; line-height: 30px; padding: 0 0 0 20px; vertical-align: middle;}
.popup .close { position: absolute; right: 14px; top: 5px; z-index: 2;cursor: pointer;}
.layer_forward { padding: 0 20px 5px;  /*position: relative;*/ /*width: 400px;*/}
.hidden { /* display: none;*/}
.popup .layer_forward { padding: 0 20px; /*position: relative;*/ /*width: 400px;*/word-wrap: break-word;}
.layer_forward .tab {margin-top: 15px; background:url(../img/layer_tab_bottom_bg.png) repeat-x 0 -49px; padding:4px 4px 0 6px; height:27px;}
.tab .sd01{ background:#fff; border-color:#f0f0f0; border-style:solid;border-top-left-radius:2px;border-top-right-radius:2px; border-width:1px 1px 0;cursor: default;}
.tab a { display: inline-block; height: 26px; line-height: 26px; margin: 0 -2px; padding: 0 11px;  position: relative; z-index: 1;white-space: nowrap;}
.W_vline { display: inline-block; text-indent: -1px; color:#ddd;}
.feed_repeat_1 { line-height: 20px; padding-top: 5px;}
.feed_repeat_1 .num { color: #b8b7b7; float: right; margin-top: 5px; position: relative; text-align: right;}
.feed_repeat_1 { line-height: 20px;}
.feed_repeat_1 .input textarea { color: #595959; font-size: 12px; width: 390px;}
.item-1{ height:30px; background:#f3f3f3; text-align:right; padding:5px 5px;}
/*弹出框 结束*/

/*账号设置 开始*/
.u-tips-err em{ background:url(../img/Wrong.png) no-repeat;}
.u-tips em{ background:url(../img/pass.png) no-repeat; width:16px; height:16px; display:inline-block;vertical-align:middle;}
input[type="text"],input[type="password"],textarea{outline-style:none;-webkit-appearance:none;}
.inp { border: 1px solid #d5d5d5; /*border-radius: 5px;*/ box-shadow: 3px 2px 2px #eaeaea inset; padding: 6px 5px;vertical-align:top; border-radius: 2px;}
.label-nick{width:60px;text-align:right;float:left;}
.SW_fun_bg{ cursor:pointer;}
.account_fold{ border:1px solid #d9d9d9; margin-top:10px;}
.S_bg1, a.W_gotop, .SW_fun_bg{ background-color:#f2f2f2;}
.account_title{ line-height:40px; padding:0 20px;}
.account_title .title{ width:204px;}
.account_title li{ float:left;}
.account_title .title_content { width:350px;}
.account_title .title_option {float: right;width: 56px; text-align:right;}
.unfold_content{ background:#fff; border:1px solid #d9d9d9; padding-bottom:10px;}
.unfold_left label.label-nick{ width:120px;}
.u-tips{ display:inline-block;height:25px; line-height:25px;margin-left:15px;vertical-align:middle;}
.u-tips-err span{ color:#fe6201;}
.u-tips em{ background:url(../img/pass.png) no-repeat; width:16px; height:16px; display:inline-block;vertical-align:middle;}
.u-tips span{vertical-align:middle;}
.u-tips-err em{ background:url(../img/Wrong.png) no-repeat;}
.u-tips-default em{background:none;}
.top-right ul li .gn_topmenulist{ display:none;}
.top-right ul .Hover{ position:relative;}
.top-right ul .Hover .gn_topmenulist{ display:block;}
.gn_topmenulist{ background:#fff; border:1px solid #666; border-top:none; font-size:12px; padding:5px 0 0; position:absolute; z-index:9998; right:0; top:25px; width:76px;border-radius:2px;}
.gn_topmenulist .gn_text_list li{ height:25px; line-height:25px; text-align:center; width:85%; display:block;}
.gn_topmenulist .gn_text_list li:hover{ background:#f1f1f1;}
.top-right ul .Hover .gn_tab{ display:inline-block; height:27px; line-height:27px; padding:0 4px 0; width:68px; z-index:9999;background:#fff; border:1px solid #666; border-bottom:none;vertical-align:middle; border-radius:2px;}
.top-right ul li .gn_tab{ display:inline-block; height:27px; line-height:27px; padding:1px 5px 0; width:68px;vertical-align:middle;}
/*账号设置 结束*/